.menu {
    background-size: 200px 80px;
    background-repeat:no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .menu ul li {
    display: inline-block;
    margin-right: 0px;
  }
  .menu ul li:last-child {
    margin-right: 0;
  }
  .menu ul li a {
    color: #1e3dec;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .menu ul li a:hover {
    transform: translateY(3px); 
    background-color: #6b4727; 
  }


  .cuadrado {
    display: grid;
    grid-template-columns: repeat(3,1 fr);
    width: 400px; /* Ajusta el tamaño según necesites */
    height: 400px; /* Ajusta el tamaño según necesites */
    gap: 80px;
}
.cuadrado img {
    width: 140%;
    height: 100%;
    object-fit: cover; /* Para que las imágenes mantengan su proporción */
}
